<h1>Listing blogs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>Summary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= User.find(blog.user_id).email %></td>
        <td><%= blog.post %></td>
        <td><%= blog.summary %></td>
        <td><%= link_to 'Show', blog, onclick: "blogIndexClick('showBlog', " + (blog.id).to_s + ");" %></td>
        <td><% if can? :update, Blog %>
          <%= link_to 'Edit', edit_blog_path(blog), onclick: "blogIndexClick('editBlog', " + (blog.id).to_s + ");" %>
        <% end %></td>
        <td><% if can? :destroy, Blog %>
          <%= link_to 'Destroy', blog, method: :delete, onclick: "blogIndexClick('deleteBlog', " + (blog.id).to_s + ");" %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>
<% if can? :create, Blog %>
<%= link_to 'New Blog', new_blog_path %>
<% end %>