%h1 Listing blogs
%table
  %thead
    %tr
      %th User
      %th Post
      %th Summary
      %th
      %th
      %th
  %tbody
    - @blogs.each do |blog|
      %tr
        %td= User.find(blog.user_id).email
        %td= blog.post
        %td= blog.summary
        %td= link_to 'Show', blog
        %td
          - if can? :update, Blog
            = link_to 'Edit', edit_blog_path(blog)
        %td
          - if can? :destroy, Blog
            = link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- if can? :create, Blog
  = link_to 'New Blog', new_blog_path
