<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @blog.post %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @blog.summary %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
